.home_hero {
  /* width: 70%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.home_hero_buttons {
  position: absolute;
  top: 600px;
  left: 100px;
}
.home_hero_buttons button:first-of-type {
  background-color: #0f61ff;
  background-image: linear-gradient(
    rgba(42, 167, 255, 255),
    rgba(19, 107, 255, 254)
  );
  width: 202px;
  height: 67px;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.home_hero_buttons button:last-of-type {
  border: 1px solid #0f61ff;
  width: 202px;
  height: 67px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #fff;
  font-size: 24px;
  color: #0f61ff;
  cursor: pointer;
}
