.home_hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.home_hero_buttons {
  position: absolute;
  top: 600px;
  left: 100px;
}

/* Remove default link styling */
.home_hero_buttons a {
  text-decoration: none;
  display: inline-block;
}

/* Style the first button */
.Link_heroButton {
  background-color: #0f61ff;
  background-image: linear-gradient(
    rgba(42, 167, 255, 255),
    rgba(19, 107, 255, 254)
  );
  width: 202px;
  height: 67px;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  line-height: 67px; /* Center the text vertically */
}

/* Style the second button */
.Link2_heroButton {
  border: 1px solid #0f61ff;
  width: 202px;
  height: 67px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #fff;
  font-size: 24px;
  color: #0f61ff;
  cursor: pointer;
  text-align: center;
  line-height: 67px; /* Center the text vertically */
}
